body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 300px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label,
input {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

body
{
    background-color: blue;
}